<!DOCTYPE html>
<html>
<head>
  <title>Calculator</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="app">

  <div class="calculator">
    <input type="text" id="display" readonly value="" tabindex="-1">

    <div class="buttons">
      <button onclick="clearDisplay()">C</button>
      <button onclick="append('%')">%</button>
      <button onclick="append('/')">÷</button>
      <button onclick="append('*')">×</button>

      <button onclick="append('7')">7</button>
      <button onclick="append('8')">8</button>
      <button onclick="append('9')">9</button>
      <button onclick="append('-')">−</button>

      <button onclick="append('4')">4</button>
      <button onclick="append('5')">5</button>
      <button onclick="append('6')">6</button>
      <button onclick="append('+')">+</button>

      <button onclick="append('1')">1</button>
      <button onclick="append('2')">2</button>
      <button onclick="append('3')">3</button>
      <button onclick="calculate()" class="equal">=</button>

      <button onclick="append('0')" class="zero">0</button>
      <button onclick="append('.')">.</button>
      
    </div>
  </div>
<button onclick="clearhistory()">clear histroy</button>
  <!-- 🧾 HISTORY SECTION -->
  <div class="history" style="color: white;">
    <h3>History</h3>
    <ul id="history"></ul>
  </div>

</div>

<script src="/script.js"></script>
</body>
</html>
